[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = {extras = ["all"], version = "*"}
mutagen = "*"
PyMusicOrganizer = {editable = true, path = "."}

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[scripts]
main = "python main.py"
